img {
  width: 40em;
}

html {
  background-color: rgb(230, 255, 251);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list__component {
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

input {
  margin: 0.5em 0;
}
